.App {
  text-align: center;
}

.feature-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #1E90FF;
}

.menu {
  margin-bottom: 3%;
}

.searchBox {
  margin-bottom: 2%;
}